html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #808080;
}

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  line-height: 1.25;
}

h1 {
  font-size: 3rem;
  margin: 0.75rem auto;
}

h2 {
  font-size: 1.75rem;
  margin: 0.5rem 0;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-weight: 400;
}

h5 {
  font-weight: 700;
  font-size: 1.2rem;
}

p {
  font-weight: 400;
  line-height: 1.25;
}


/*HEADER*/

header {
  display: flex;
  justify-content: space-between;
  height: 64px;
  background-color: rgba(107, 174, 199, 0.9);
  position: fixed;
  z-index: 30;
  width: 100%;
}

#company-name {
  color: black;
  font-size: 1.2rem;
  margin-left: 0.25rem;
}

#logo {
  display: flex;
  align-items: center;
  font-family: "raleway", sans-serif;
  font-weight: 500;
}

#logo span {
  font-weight: 800;
}

#logo img {
  margin-left: 1.5rem;
}


/*Navigation*/

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  align-content: center;
}

nav li {
  margin-right: 1rem;
  height: 100%;
}

nav a:hover {
  color: white;
}

a {
  color: rgb(74, 74, 74);
  text-decoration: none;
}


/*BREAK-POINTS Navigation*/

@media only screen and (max-width:770px) {
  nav h5 {
    display: none;
  }
  nav li:nth-child(3n) {
    display: none;
  }
}

@media only screen and (min-width: 770px) {
  nav img {
    display: none;
  }
}

@media only screen and (max-width: 460px) {
  #company-name {
    display: none;
  }
  nav li {
    margin: 0 1rem;
  }
  nav {
    width: 60%
  }
}


/*MAIN Section*/

main {
  position: relative;
  top: 64px;
}


/*PROMOTION Section*/

.jumbotron {
  padding: 2rem 1.5rem;
  /*background-color: rgba(172, 172, 175, 0.7);*/
  display: flex;
  align-items: center;
}

.jumbotron .banner {
  width: 60%;
  overflow: hidden;
}

.jumbotron img {
  width: 100%;
}

.jumbotron {
  font-size: 1.75rem;
}

hgroup {
  margin: 0 40px;
  display: flex;
  flex-flow: column nowrap;
}

.button {
  width: 75%;
  border-radius: 3px;
  background-color: rgb(112, 202, 187);
  text-decoration: none;
  color: white;
  padding: 1.5rem;
  margin: 2rem;
  text-align: center;
}

.button:hover {
  background-color: rgb(240, 160, 50);
}

.button:active {
  background-color: rgb(105, 122, 159);
}


/*BREAK-POINTS Promotion*/

@media only screen and (max-width:1080px) {
  .jumbotron {
    font-size: 1rem;
  }
  h1 {
    font-size: 2.25rem;
    margin: 0.75rem 0;
  }
}

@media only screen and (max-width:830px) {
  .jumbotron {
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 1rem;
  }
  .jumbotron .banner {
    width: 100%;
    max-height: 10.5rem;
    overflow: hidden;
  }
  hgroup {
    flex-flow: row wrap;
    margin: 0;
    width: 100%;
  }
  .button {
    width: 100%;
  }
}


/*Information Highlights*/

#highlights {
  display: flex;
  flex-flow: row;
  padding: 2rem;
  background-color: rgb(107, 174, 199);
  color: white;
}

.focus {
  /*This affects the Focus class in both Highlights and Thesis sections*/
  max-width: 60%;
  display: flex;
  flex-flow: column wrap;
  padding: 0 1.5rem;
}

#highlights img, #thesis img {
  width: 100%;
}

aside {
  max-width: 40%;
}

aside .image {
  width: 35%;
}

.title {
  padding-left: 1rem;
  max-width: 60%;
}

.title p {
  margin: 0.5rem auto;
}

.mobile {
  display: none;
}

.story {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: rgb(139, 207, 222);
  color: white;
  padding: 1rem;
}

aside .story:hover {
  background-color: rgb(112, 202, 187);
  color: rgb(74, 74, 74);
}

.info a {
  color: rgb(117, 135, 176);
}

.info a:hover {
  color: white;
}

.reference {
  font-size: 0.75rem;
  margin-top: 2.5rem;
}


/*BREAK-POINTS highlights*/

@media only screen and (max-width:1080px) {
  #highlights {
    flex-flow: column;
    padding: 2rem 0;
  }
  .focus {
    max-width: 100%;
  }
  #highlights aside {
    width: inherit;
    max-width: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 1.5rem 0;
  }
  #highlights .image {
    padding: 0;
    width: 100%;
  }
  #highlights .story {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    align-items: flex-start;
  }
  #highlights .title {
    max-width: none;
    margin-top: 1rem;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: initial;
    width: 100%;
  }
}

@media only screen and (max-width:800px) {
  #highlights .focus {
    display: none;
  }
  #highlights aside {
    flex-flow: column;
    width: auto;
    margin-top: 0;
  }
  #highlights .story {
    max-width: 100%;
    margin: 0.5rem 0;
  }
}


/*PROGRAMS Container Styling*/

#courses {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  background-color: rgba(172, 172, 175, 0.2);
}

#courses h2, #thesis h2 {
  margin: 2rem auto 0;
  width: 100%;
  text-align: center;
}

.program {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 2rem;
  background-color: rgb(98, 159, 182);
}

.program a {
  color: white;
}

.program:hover {
  background-color: rgb(105, 122, 159);
  transition: background-color 0.5s ease-out 100ms;
}

.program img {
  width: 100%;
}

#courses h3 {
  margin: 1rem 0;
}

.details {
  padding: 1rem;
  flex: 1 1;
}

.details h4 {
  margin: 0.5rem 0;
  font-weight: 400;
}

.details p {
  font-weight: 300;
}


/*BREAK-POINT Program*/

@media only screen and (max-width: 800px) {
  .program {
    width: 40%;
  }
}

@media only screen and (max-width: 660px) {
  #courses h2 {
    margin: 2rem auto 1rem;
  }
  #courses {
    padding-bottom: 1rem;
  }
  .program {
    width: 80%;
    margin: 0.5rem 0;
  }
  .program img, .program h4, .program p {
    display: none;
  }
  #courses h3 {
    margin: 0;
  }
}


/*THESIS Container*/

#thesis>div {
  display: flex;
  padding: 0 1.5rem;
  margin: 2rem 0;
}

#thesis .focus {
  padding: 0;
}

#thesis aside {
  display: flex;
  flex-flow: column;
  margin-left: 1rem;
}

#thesis h3 {
  margin: 1.5rem 0;
}

.focus video {
  width: 100%;
}


/*BREAK-POINT Thesis*/

@media only screen and (max-width:1080px) {
  #thesis>div {
    flex-flow: column;
  }
  #thesis .story {
    flex-flow: row;
    padding: 0;
    max-height: 10.5rem;
  }
  #thesis aside {
    display: flex;
    flex-flow: row;
    max-width: none;
    margin: 2rem 0 0 0;
  }
  #thesis .image {
    padding: 1rem;
    max-width: 25%;
  }
}

@media only screen and (max-width: 800px) {
  #thesis aside {
    display: none;
  }
}

@media only screen and (max-width: 660px) {
  #thesis aside, #thesis h3, #thesis p {
    display: none;
  }
}


/*FOOTER Styling*/

footer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-top: 1px solid rgb(25, 25, 25);
  font-weight: 300;
}

#legal a {
  margin: 0 2rem;
}


/*BREAK-POINT Footer */

@media only screen and (max-width: 600px) {
  footer {
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    font-size: 0.85rem;
  }
}
